html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  background-color: blue;
}

.stage-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media (min-width: 0px) {
  .stage-layer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 960px) {
  .stage-layer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.desk-nav {
  opacity: 0;
  z-index: 999;
  background-color: red;
}

@media (min-width: 0px) {
  .desk-nav {
    display: none;
    height: 0;
    width: 0;
  }
}

@media (min-width: 960px) {
  .desk-nav {
    display: block;
    padding-left: 1vw;
    width: 5vw;
    height: 100%;
  }
}

@media (min-width: 0px) {
  .mob-nav {
    opacity: 0;
    height: 10%;
    width: 100%;
    z-index: 5;
    position: fixed;
    background-color: red;
  }
}

@media (min-width: 960px) {
  .mob-nav {
    display: none;
  }
}

.section {
  border: thin solid red;
}

@media (min-width: 0px) {
  .section {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 0vh;
  }
}

@media (min-width: 960px) {
  .section {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 0vh;
  }
}

@media (min-width: 0px) {
  .section-long {
    min-width: 100vw;
    min-height: 125vh;
    border: thin solid red;
  }
}

@media (min-width: 960px) {
  .section-long {
    min-width: 118vw;
    min-height: 100vh;
    border: thin solid red;
  }
}

.hero {
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 960px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.about {
  background-color: purple;
  border: thin solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (min-width: 0px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 960px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.spaces {
  background-color: aqua;
}

@media (min-width: 0px) {
  .section-long-spaces-bottom {
    width: 100vw;
    height: 225vh;
  }
}

@media (min-width: 960px) {
  .section-long-spaces-bottom {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 0px) {
  .space-thumb-container {
    width: 100%;
    height: 25vh;
    margin: 2.5vh 0;
    border: thin solid black;
  }
}

.events {
  background-color: orange;
}

.contact {
  background-color: yellow;
}

.invisible {
  width: 300px;
  height: 300px;
  background-color: aqua;
}

.scroller-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 0px) {
  .scroller-container {
    border: thin solid yellow;
    width: 100%;
    height: 25vh;
    background-color: turquoise;
    margin-top: 0.5vh;
    margin-bottom: 0vh;
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .scroller-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 19vw;
    height: 100vh;
    border: thin solid yellow;
    margin-top: 0;
    margin-bottom: 0vh;
    margin-left: .5vw;
  }
}

.scroller {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(yellow), to(black));
  background-image: linear-gradient(to top, black, yellow, black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 0px) {
  .scroller {
    height: 100%;
    min-width: 100vw;
  }
}

@media (min-width: 960px) {
  .scroller {
    min-height: 100vh;
    min-width: 100%;
  }
}

.scroll-inner-container-slow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .scroll-inner-container-slow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 960px) {
  .scroll-inner-container-slow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes scroll-move {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes scroll-move {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@media (min-width: 0px) {
  .hidden-scroller {
    display: none;
  }
}

@media (min-width: 960px) {
  .hidden-scroller {
    display: block;
  }
}
/*# sourceMappingURL=layout.css.map */