@import "breakpoints";
@import url("https://api.fontshare.com/v2/css?f[]=switzer@1&display=swap");

:root{
    --background: #10100E;
    --text:#F1F1E7; 
}
[data-theme= "light"] {
    --background: #F1F1E7;
    --text:#10100E;
}

[data-theme= "dark"] {
    --background: #10100E;
    --text:#F1F1E7; 
}

p{
    font-family: 'Switzer', sans-serif;
}
html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    //max-height: 90vh;
    //max-height: 75vh;
}

.main-wrapper{
    background-color: blue;
    // display: flex;
    // @include xs{
    //     flex-direction: column;
    // };
    // @include lg{
    //     flex-direction: row;
    // }
}

.stage-outer-layer{
    
    overflow: hidden;
    height: 100%;
    // @include xs{
        
    // }
    // @include lg{
    //     display: flex;
    // }
}

.stage-layer{
    //position: absolute;
    display: flex;
    height: 100vh;
    align-items: flex-start;
    @include xs{
        flex-direction: column;
    };
    @include lg{
        flex-direction: row;
    }
}

.desk-nav{
    opacity: 0;
    z-index: 999;
    background-color: red;
    @include xs{
        display: none;
        height: 0;
        width: 0;
    };
    @include lg{
        display: block;
        padding-left: 1vw;
        width: 5vw;
        height: 100%;
    }
}

.mob-nav-wrapper{
    
    @include xs{
        opacity: 0;
        height: auto;
        width: auto;
        z-index: 5;
        position: fixed;
        //background-color: red;
    };
    @include lg{
        display: flex;
        height: auto;
        width: auto;
        margin-bottom: -10%;
    };
}
.mob-nav{
    @include xs{
        opacity: 1;
        height: 10vh;
        width: 100vw;
        z-index: 5;
        background-color: green;
    };
    @include lg{
        height: 100vh;
        width: 1vw;
        margin-bottom: -10%;
    };
}

.mob-nav-content{
    //display: none;
    //opacity: 0;
    @include xs{
        height: 90vh;
        width: 100vw;
        z-index: 4;
        margin-top: -120vh;
        background-color: maroon;
    };
    @include lg{
        height: 100vh;
        width: 100vw;
        margin-top: 0vh;
        margin-bottom: -10%;
        margin-left: -120vw;
    };
}

.nav-container{
    @include xs{

    }
    @include lg{
        display: flex;
    }
}

.menu{
    position: fixed;
    //display: none;
    opacity: 0.1;
    margin-bottom: -100vh;
    // z-index: 9999;
    //position: absolute;
    background-color: olive;
    border: thin solid white;
    @include xs{
        min-width: 100vw;
        min-height: 90vh;
    };
    @include lg{
        margin-left: 1.85vw;
        min-width: 95vw;
        min-height: 100vh;
    };

}

.section{
    
    //border: thin solid red;
    @include xs{
        min-width: 100vw;
        min-height: 100vh;
        padding-top: 0vh;
    };
    @include lg{
        min-width: 100vw;
        min-height: 100vh;
        padding-top: 0vh;
    }
}

.section-long{
    @include xs{
        min-width: 100vw;
        min-height: 125vh;
        //border: thin solid red;
    }
    @include lg{
        min-width: 118vw;
        min-height: 100vh;
        //border: thin solid red;
    }
}

.hero{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    @include xs{
        flex-direction: column-reverse;
    };
    @include lg{
        flex-direction: row-reverse;
    };
}

.hero-main{
    //border: thin solid greenyellow;
    @include xs{
        width: 100vw;
        height: 70vh;
    };
    @include lg{
        width: 59vw;
        height: 100vh;
    };
}

.hero-top{
    width: 100%;
    @include xs{
        height: 60%;
    };
    @include lg{
        height: 55%;
    };
    //border-bottom: thin dotted black;
}

.hero-top-nav{
    width: 90%;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
}

.hero-bottom{
    width: 95%;
    margin-left: 1.5%;
    @include xs{
        height: 40%;
        border-top: thin solid var(--text);
        border-bottom: thin solid var(--text);
    };
    @include lg{
        height: 45%;
        border-top: thin solid var(--text);
    };
}

.hero-lg-text{
    @include xs{
        font-size: 3.125rem;
        font-weight: 600;
        margin-top: 0.1em;
        line-height: 1em;
    };
    @include lg{
        font-size: 6rem;
        font-weight: 600;
        margin-top: 0.1em;
        line-height: 1em;
    };
    
}

.about{
    background-color: purple;
    border: thin solid green;
    display: flex;
    height: 100%;
    @include xs{
        flex-direction: column;
    };
    @include lg{
        flex-direction: row;
    }
}

.spaces{
    background-color: aqua;
}

.spaces-top-container{
    max-width: 100%;
    overflow: hidden;
    display: flex;

    @include xs{
        height: 90vh;
        flex-direction: column-reverse;
        margin-right: 0;
        margin-bottom: 10vh;
    }
    @include lg{
        height: 100vh;
        flex-direction: row-reverse;
        padding-right: 6.75vw;
        margin-bottom: 0;
    }
}

.spaces-bottom{
    overflow: hidden;
    //border: thick solid green;
    @include xs{
        height: 50vh;
    };
    @include lg{
        height: 100vh;
    };
}

.spaces-bottom-main{
    width: 100vw;
    @include xs{
        margin-top: 10vh;
        height: 90%;
    };
    @include lg{
        margin-top: 0vh;
        height: 100%;
    };
}

.spaces-bottom-sub{
    display: none;
    width: 100%;
    height: 80%;
    background-color: gray;
    z-index: 998;
}

.section-long-spaces-bottom{
    @include xs{
        width: 100vw;
        height: 225vh;
    };
    @include lg{
        width: 100vw;
        height: 100vh;
    };
}

.space-thumb-container{
    @include xs{
        width: 100%;
        height: 25vh;
        margin: 2.5vh 0;
        border: thin solid black;
    }
}

.events{
    background-color: orange;
}

.events-top-container{
    max-width: 100%;
    overflow: hidden;
    display: flex;

    @include xs{
        height: 90vh;
        flex-direction: column-reverse;
        margin-right: 0;
        margin-bottom: 0vh;
    }
    @include lg{
        height: 100vh;
        flex-direction: row-reverse;
        padding-right: 6.75vw;
        margin-bottom: 0;
    }
}

.events-bottom{
    overflow: hidden;
    //border: thick solid green;
    background-color: aquamarine;
    @include xs{
        height: 10vh;
    };
    @include lg{
        height: 100vh;
    };
}

.events-bottom-main{
    background-color: teal;
    width: 100vw;
    @include xs{
        margin-top: 10vh;
        height: 30%;
    };
    @include lg{
        margin-top: 0vh;
        height: 100%;
    };
}

.events-bottom-sub{
    display: none;
    width: 100%;
    height: 50%;
    background-color: gray;
    z-index: 998;
}

.contact{
    background-color: yellow;
}

.invisible{
    width: 300px;
    height: 300px;
    background-color: aqua;
}

//scrollers

.scroller-container{
    display: flex;
    position: relative;

    @include xs{
        border: thin solid yellow;
        width: 100%;
        height: 25vh;
        background-color: turquoise;
        margin-top: 0.5vh;
        margin-bottom: 0vh;
        margin-left: 0;
    };
    @include lg{
        flex-direction: column;
        width: 19vw;
        height: 100vh;
        border: thin solid yellow;
        margin-top: 0;
        margin-bottom: 0vh;
        margin-left: .5vw;
    };
}

.scroller{
    background-image: linear-gradient(to top,purple, yellow,purple );
    //border: thin solid greenyellow;
    box-sizing: border-box;
    overflow: hidden;
    color: white;

    @include xs{
        height: 100%;
        min-width: 100vw;
    };
    @include lg{
        min-height: 100vh;
        //margin-bottom: 2.5%;
        min-width: 100%;
    };
}

.scroll-inner-container-slow{
    display: flex;
    @include xs{
        flex-direction: row;
    };
    @include lg{
        flex-direction: column;
        
    };
}

.scroller0{
    @include xs{
        transform: translatex(-300%);
    };
    @include lg{
        transform: translatey(-300%);
    };
}



.hidden-scroller{
    @include xs{
        display: none;
    }
    @include lg{
        display: block;
    }
}

// .card1{
//     @include xs{
//         display: flex;
//         flex-direction: column;
//         width: 50vw;
//         //padding-right: 0.5vw;
//     };
//     @include lg{
//         display: flex;
//         flex-direction: row-reverse;
//         width: 117.5vw;
//         padding-right: 0.5vw;
//     }
// }

// .box {
//     padding-left: 10px;
//   }
  
//   .item {
//     padding-bottom: 10px;
//   }
  
//   .item_child {
//     @include xs{
//         width: 30vw;
//         height: 10vh;
//         border-radius: 10px;
//         //display: flex;
//         // justify-content: center;
//         // align-items: center;
//         color: #fff;
//         font-size: 50px;
//         margin-left: 0.35vw;
//     };
//     @include lg{
//         width: 18.6vw;
//         height: 40vh;
//         border-radius: 10px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         color: #fff;
//         font-size: 50px;
//         margin-left: 0.35vw;
//     };
//   }
  
//   .box .item_child:not(:last-child) {
//     margin-bottom: 10px;
//   }
  
//   .box01 .item_child {
//     background-color:yellowgreen;
//   }
  
//   .box02 .item_child {
//     background-color:yellowgreen;
//   }

//   .box03 .item_child {
//     background-color:yellowgreen;
//   }